<!-- header -->
<%- include('header')%>

<!-- main -->
<body>

    <div class="container">
        <div class="row">
                <div class="offset-3 col-6 text-center">
                    <h4 class="text-white">One-Way ticket :</h4>

                    <form class="form-inline action="/login" method="POST">
                        <div class="form-group">
                            <label for="exampleInputDeparture"></label>
                            <input name="departure" type="text" class="form-control" aria-describedby="emailHelp" placeholder="From: Paris, Marseille..">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputArrival"></label>
                            <input name="arrival" type="text" class="form-control" placeholder="To: Lille, Nantes..">
                        </div>

                        <button type="submit" class="btn btn-danger">Go</button>
                    </form>

                    <img src="\images\landmark.png" width="250" height="250" class="my-5">
                </iv>
        </div>
    </div>

</body>

<!-- footer -->
<%- include('footer')%>